body{
    background: rgb(253,247,228);
    background: linear-gradient(180deg, rgba(253,247,228,1) 10%, rgba(250,238,209,1) 64%, rgba(214,202,178,1) 100%);
    font-family: 'Noto Sans Thai';
    color: #5d5d5d;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.cardbox {
   
    align-items: center; /* Center vertically */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; /* Center horizontally */
    width: fit-content;
}
.FlexCardBox{
    display: flex;
    justify-content: center; /* Center horizontally */
}
.profileImage {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}